@{
    ViewData["Title"] = "Home Page";
}

<div class="herosection">
    <div class="container">
        <div class="hero-content">
            <span>Covid-19 Testservice</span>
            <h1></h1>
            <p>Plan direct een afspraak in voor een corona test  of lees meer over corona.</p>

                <a href="#" class="btn btn-outline-info">Lees meer</a>
                <a href="#" class="btn btn-outline-info">Maak afspraak</a>
        </div>
    </div>

</div>

<div class="Infocovid">
    <h1 class="text-center">Informatie</h1>
    <div class="container p-3 my-3 border">
        <h1>Wat is COVID-19</h1>
        <p>
            COVID-19 is de ziekte die wordt veroorzaakt door het coronavirus SARS-CoV-2. De ziekte kan luchtwegklachten en koorts veroorzaken en in ernstige gevallen ademhalingsproblemen.
            Het virus wordt verspreid door druppeltjes. Bijvoorbeeld door hoesten, niezen of zingen of praten. Dan komen er druppeltjes vrij  komt het virus in de lucht.
            Als andere mensen die druppeltjes inademen, of bijvoorbeeld via de handen in de mond, neus of ogen krijgen, kunnen zij besmet raken met het virus.
        </p>
    </div>
    <div class="container p-3 my-3 border">
        <h1>Waarom is testen belangerijk ?</h1>
        <p>
            Het is belangrijk dat mensen zich laten testen bij klachten. Het zorgt ervoor dat we eerder nieuwe besmettingen vinden.
            <br />
            Mensen die het virus inderdaad blijken te hebben, gaan in isolatie en blijven thuis. De GGDGemeentelijke Gezondheidsdienst  start met bron- en contactonderzoek en adviseert huisgenoten en nauwe contacten wat ze moeten doen.
            Zo voorkomen we dat zij anderen kunnen besmetten.
        </p>
    </div>
    <div class="container p-3 my-3 border">
        <h1>Wat zijn de symptomen van COVID-19?</h1>
        <p>
            De meest voorkomende klachten bij COVID-19:

            Verkoudheidsklachten (zoals neusverkoudheid, loopneus, niezen, keelpijn)
            Hoesten
            Benauwdheid
            Verhoging of koorts
            Plotseling verlies van reuk en/of smaak (zonder neusverstopping)

        </p>
    </div>
</div>

<div class="abouttest">
    <h1 class="text-center">Test Soorten</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">De PCR-test</h5>
                    <p class="card-text">
                        De PCR-test toont specifiek stukjes genetisch materiaal van het coronavirus SARSsevere acute respiratory syndrome-CoVcoronavirus-2 aan.
                        Het is de meest gebruikte en meest betrouwbare test. Met een wattenstaafje wordt een uitstrijk genomen uit de neus en keel.
                        Dit gaat naar een laboratorium voor de PCR-test. Bij de PCR-test worden kopietjes van een deel van het virus gemaakt. Een stukje genetisch materiaal van het virus wordt sterk vermenigvuldigd, om het aan te kunnen tonen. De PCR-test heeft een hoge testgevoeligheid.
                        Dat betekent dat de PCR-test het virus ook oppikt bij iemand die nog weinig virus heeft of weinig virus meer bij zich draagt.
                    </p>
                    <a href="#" class="btn btn-primary">Maak Afspraak</a>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Antigeen</h5>
                    <p class="card-text">
                        De antigeentest toont antigenen van SARS-CoV-2 aan in neus- en/of keelslijm. Antigenen zijn stukjes van het virus (eiwitten) die een afweerreactie kunnen opwekken in het lichaam. Als je het virus bij je draagt, laat de antigeentest dat snel zien; meestal een kwartier na het opbrengen van het monster op de testcasette.
                        De test is ook buiten het laboratorium te gebruiken. De antigeentest is minder gevoelig dan de PCR-test. Vooral als er weinig virusdeeltjes aanwezig zijn is de antigeentest vaak negatief.
                        Helemaal in het begin van de infectie zijn er nog weinig virusdeeltjes. Later in de infectie neemt het aantal virusdeeltjes weer af, dan is iemand ook niet besmettelijk meer. Wanneer er weinig virusdeeltjes aanwezig zijn krijgt iemand mogelijk ten onrechte een negatieve testuitslag, terwijl de persoon wel COVID-19 kan hebben (gehad).
                    </p>
                    <a href="#" class="btn btn-primary">Maak Afspraak</a>
                </div>
            </div> 
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Zelf-Test</h5>
                    <p class="card-text">
                        Zelftesten zijn bedoeld voor mensen zonder klachten, als aanvulling waarmee anders onopgemerkte besmettingen opgespoord kunnen worden. Zelftesten zijn niet bedoeld voor:
                        Zelftesten zijn minder betrouwbaar dan een PCR of antigeen test die door een professional wordt afgenomen.
                        Onderzoek naar zelftesten laat zien dat, mits de zelftest juist wordt afgenomen,  de betrouwbaarheid tussen de 58% en 78% ligt.
                        Er is dus een gerede kans dat iemand een negatieve testuitslag krijgt terwijl die persoon wél besmet is met SARS-CoV 2 en het virus mogelijk op anderen kan overdragen.
                    </p>
                    <a href="#" class="btn btn-primary">Maak Afspraak</a>
                </div>
            </div>
            
        </div>
    </div>
</div>